<div id="<%= dom_id task %>" style="border: 1px solid black" class="my-2">
  <p class="mx-2">
    <strong>Description:</strong>
    <%= task.description %>
  </p>

  <p class="mx-2">
    <strong>Complete:</strong>
    <%= task.complete %>
  </p>

</div>
